Repository devZenta/7Pret: changes, and which lefthook commands are due for each by the changed paths.
All: format-check, biome-lint, typecheck

format-check:
  run: bunx biome format --write --diagnostic-level=error --no-errors-on-unmatched {staged_files}
  stage_fixed: true

biome-lint:
  run: bunx biome lint --write --diagnostic-level=error --no-errors-on-unmatched {staged_files}
  stage_fixed: true

typecheck:
  run: bunx tsc --noEmit

feat: enhance ShoppingList component with item deletion and improved styling
  src/pages/ShoppingList/page.tsx
Due: format-check, biome-lint, typecheck

feat: add ShoppingList CSS styles for layout and responsiveness
  src/pages/ShoppingList/ShoppingList.css
Due: none

feat: add null check for root element in main rendering logic
  src/main.tsx
Due: format-check, biome-lint, typecheck

feat: remove unused Link import and simplify steps mapping in RecipeDetail component
  src/pages/Catalogue/recipedetail.tsx
Due: format-check, biome-lint, typecheck

feat: remove unused React import in Home component
  src/pages/Home/page.tsx
Due: format-check, biome-lint, typecheck

feat: define ShoppingItem interface and update state types in ShoppingList component
  src/pages/ShoppingList/page.tsx
Due: format-check, biome-lint, typecheck

feat: remove duplicate import of CertifRecipe in App component
  src/App.tsx
Due: format-check, biome-lint, typecheck

chore: add OpenAPI deps and Railway config
  bun.lock
  nixpacks.toml
  package.json
  vite.config.ts
Due: format-check, biome-lint, typecheck

feat: add auth middleware and Zod schemas
  server/middleware/auth.ts
  server/schemas/common.schema.ts
  server/schemas/customRecipe.schema.ts
  server/schemas/planning.schema.ts
  server/schemas/recipe.schema.ts
Due: format-check, biome-lint, typecheck

feat: implement services for recipes and planning
  server/services/customRecipeService.ts
  server/services/planningService.ts
  server/services/recipeService.ts
Due: format-check, biome-lint, typecheck

feat: add OpenAPI routes with Swagger UI
  server/controllers/planningController.ts
  server/controllers/recipeController.ts
  server/index.ts
  server/routes/customRecipes.ts
  server/routes/recipes.ts
Due: format-check, biome-lint, typecheck

fix: add missing react-router-dom dependency
  bun.lock
  package.json
Due: format-check, biome-lint

fix: railway deploy - correct tsconfig and prisma command
  package.json
  tsconfig.node.json
Due: format-check, biome-lint

feat: change Swagger UI route from /ui to /swagger
  server/index.ts
  vite.config.ts
Due: format-check, biome-lint, typecheck

feat: add login and signup pages with Better Auth
  server/index.ts
  src/App.tsx
  src/lib/api-client.ts
  src/lib/auth-client.ts
  src/pages/Login/Login.css
  src/pages/Login/page.tsx
  src/pages/Signup/Signup.css
  src/pages/Signup/page.tsx
Due: format-check, biome-lint, typecheck

feat: add settings page with user info and logout
  src/App.tsx
  src/assets/user-icon.svg
  src/components/Header.css
  src/components/Header.tsx
  src/components/ProtectedRoute.tsx
  src/lib/auth-client.ts
  src/pages/Login/page.tsx
  src/pages/Settings/Settings.css
  src/pages/Settings/page.tsx
  src/pages/Signup/page.tsx
Due: format-check, biome-lint, typecheck

fix: add connection pool with timeout for Neon database
  src/lib/prisma.ts
Due: format-check, biome-lint, typecheck

feat: implement weekly meal planning page with styles and functionality
  src/pages/Planning/Planning.css
  src/pages/Planning/page.tsx
Due: format-check, biome-lint, typecheck

feat: add protected route for Planning page
  src/App.tsx
Due: format-check, biome-lint, typecheck

feat: add link to Planning page in Header component
  src/components/Header.tsx
Due: format-check, biome-lint, typecheck

feat: implement Home page with meal planning overview and styles
  src/pages/Home/Home.css
  src/pages/Home/page.tsx
Due: format-check, biome-lint, typecheck

feat: enable JSON module resolution in TypeScript configuration
  tsconfig.app.json
Due: format-check, biome-lint

ci: add GitHub Actions workflow for lint, typecheck and build
  .github/workflows/ci.yml
Due: none

ci: add fake DATABASE_URL for prisma generate
  .github/workflows/ci.yml
Due: none

ci: use DATABASE_URL secret for prisma generate and build
  .github/workflows/ci.yml
Due: none

feat: implement header visibility based on route in App component
  src/App.tsx
Due: format-check, biome-lint, typecheck

feat: add width and height attributes to user icon SVG
  src/assets/user-icon.svg
Due: none

feat: refactor user icon styles and navigation alignment in Header.css
  src/components/Header.css
Due: none

feat: add width and height styles to user icon in Header component
  src/components/Header.tsx
Due: format-check, biome-lint, typecheck

feat: implement custom recipes fetching and filtering in Catalogue component
  src/pages/Catalogue/page.tsx
Due: format-check, biome-lint, typecheck

feat: enhance RecipeDetail component with editing and deletion functionality
  src/pages/Catalogue/recipedetail.tsx
Due: format-check, biome-lint, typecheck

feat: add CreateRecipe.css for styling the recipe creation form
  src/pages/CreateRecipe/CreateRecipe.css
Due: none

feat: implement CreateRecipe component with form handling and API integration
  src/pages/CreateRecipe/page.tsx
Due: format-check, biome-lint, typecheck

feat: refactor ShoppingList component to manage recipe groups and manual items
  src/pages/ShoppingList/page.tsx
Due: format-check, biome-lint, typecheck

feat: add styles for recipe groups and their controls in ShoppingList
  src/pages/ShoppingList/ShoppingList.css
Due: none

feat: enhance modal positioning and animation for improved user experience
  src/pages/Planning/Planning.css
Due: none

feat: remove unused variable from RecipeDetail component state
  src/pages/Catalogue/recipedetail.tsx
Due: format-check, biome-lint, typecheck

feat: remove unused import for Planning page in App component
  src/App.tsx
Due: format-check, biome-lint, typecheck

feat: update styling for statistics and search input for better visibility
  src/pages/Planning/Planning.css
Due: none

docs: add comprehensive project README
  README.md
Due: none

Path conditions:
  format-check: any of: *.{js,jsx,ts,tsx,json,jsonc}
  biome-lint: any of: *.{js,jsx,ts,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
