Repository devZenta/7Pret: changes, and which lefthook commands are due for each by the changed paths.
All: format-check, biome-lint, typecheck, no-console, todo-check

format-check:
  run: bunx biome format --diagnostic-level=error --no-errors-on-unmatched {staged_files}
  stage_fixed: true

biome-lint:
  run: bunx biome lint --diagnostic-level=error --no-errors-on-unmatched {staged_files}
  stage_fixed: true

typecheck:
  run: bunx tsc --noEmit

no-console:
  run: "if grep -rn \"console\\.log\\|console\\.debug\" {staged_files} 2>/dev/null; then\n  echo \"Console statements found. Please remove them.\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

todo-check:
  run: "if grep -rn \"TODO\\|FIXME\" {staged_files} 2>/dev/null | grep -v \"#[0-9]\"; then\n  echo \"Warning: TODO/FIXME found without issue reference (#123)\"\nfi\n"
  skip:
  - merge
  - rebase

style: apply biome formatting
  src/App.css
  src/App.tsx
  src/index.css
  src/main.tsx
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: format-check, biome-lint, typecheck, no-console, todo-check

chore: allow .vscode folder in git
  .gitignore
Due: none

feat(recipes): add data
  src/data/recipes.json
Due: format-check, biome-lint

chore: update dependencies and devDependencies in package.json and bun.lock
  bun.lock
Due: none

feat: implement Header component with navigation and logo
  src/components/Header.css
  src/components/Header.tsx
Due: format-check, biome-lint, typecheck, no-console, todo-check

feat: refactor App component to implement routing and remove unused code
  src/App.tsx
Due: format-check, biome-lint, typecheck, no-console, todo-check

feat: add logo image to public assets
  public/logo.png
Due: none

feat: add Catalogue, CreateRecipe, Home, and ShoppingList pages with initial content
  src/pages/Catalogue/page.tsx
  src/pages/CreateRecipe/page.tsx
  src/pages/Home/page.tsx
  src/pages/Planning/page.tsx
  src/pages/ShoppingList/page.tsx
Due: format-check, biome-lint, typecheck, no-console, todo-check

feat: update font family and color scheme in CSS
  src/index.css
Due: none

fix: update scripts in package.json
  package.json
Due: format-check, biome-lint

fix: configure vite for Railway deployment
  vite.config.ts
Due: format-check, biome-lint, typecheck, no-console, todo-check

feat: setup prisma with postgresql database
  prisma.config.ts
  prisma/migrations/20260202191757_init/migration.sql
  prisma/migrations/20260202194654_add_auth_models/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  prisma/seed.ts
  src/lib/prisma.ts
Due: format-check, biome-lint, typecheck, no-console, todo-check

feat: add better-auth authentication setup
  src/lib/auth.ts
Due: format-check, biome-lint, typecheck, no-console, todo-check

chore: update config and add auth dependencies
  .env.example
  .gitignore
  bun.lock
  package.json
  tsconfig.app.json
  tsconfig.node.json
Due: format-check, biome-lint

chore: simplify lefthook config for cross-platform support
  .gitattributes
  lefthook.yml
  scripts/commitlint.sh
Due: none

feat: update data in recipes.json
  src/data/recipes.json
Due: format-check, biome-lint

feat: reorganize imports and add RecipeDetail route in App component
  src/App.tsx
Due: format-check, biome-lint, typecheck, no-console, todo-check

feat: enhance Catalogue page with recipe listing and navigation links
  src/pages/Catalogue/page.tsx
  src/pages/CreateRecipe/page.tsx
  src/pages/Home/page.tsx
  src/pages/ShoppingList/page.tsx
Due: format-check, biome-lint, typecheck, no-console, todo-check

feat: refactor Header component and improve CSS formatting
  src/components/Header.css
  src/components/Header.tsx
Due: format-check, biome-lint, typecheck, no-console, todo-check

feat: reafactor add recipeDetail
  src/pages/Catalogue/recipedetail.css
  src/pages/Catalogue/recipedetail.tsx
Due: format-check, biome-lint, typecheck, no-console, todo-check

feat: update dependencies in package.json and bun.lock
  bun.lock
  package.json
  tsconfig.app.json
  tsconfig.node.json
Due: format-check, biome-lint

feat: add custom_recipes and meal_planning tables with relationships in Prisma schema
  prisma/migrations/20260203124137_update_schema/migration.sql
  prisma/schema.prisma
Due: none

feat: update connection string handling in Prisma setup
  prisma/seed.ts
  src/lib/prisma.ts
Due: format-check, biome-lint, typecheck, no-console, todo-check

feat: add authentication, planning, and recipes routes
  server/routes/auth.ts
  server/routes/planning.ts
  server/routes/recipes.ts
Due: format-check, biome-lint, typecheck, no-console, todo-check

feat: add planning and recipe controllers with basic CRUD operations
  server/controllers/planningController.ts
  server/controllers/recipeController.ts
Due: format-check, biome-lint, typecheck, no-console, todo-check

feat: add planning and recipe services with basic CRUD operations
  server/services/planningService.ts
  server/services/recipeService.ts
Due: format-check, biome-lint, typecheck, no-console, todo-check

feat: add utility functions for standardized API response handling
  server/utils/apiResponse.ts
Due: format-check, biome-lint, typecheck, no-console, todo-check

feat: initialize Hono server with authentication, recipes, and planning routes
  server/index.ts
Due: format-check, biome-lint, typecheck, no-console, todo-check

feat: add error handling for missing root element in main entry point
  src/main.tsx
Due: format-check, biome-lint, typecheck, no-console, todo-check

feat: add ShoppingList route with dynamic ID parameter
  src/App.tsx
Due: format-check, biome-lint, typecheck, no-console, todo-check

feat: improve recipe display formatting in Catalogue page
  src/pages/Catalogue/page.tsx
Due: format-check, biome-lint, typecheck, no-console, todo-check

feat: enhance RecipeDetail component with shopping list functionality and ingredient formatting
  src/pages/Catalogue/recipedetail.tsx
Due: format-check, biome-lint, typecheck, no-console, todo-check

feat: implement ShoppingList component with localStorage integration and dynamic item rendering
  src/pages/ShoppingList/page.tsx
Due: format-check, biome-lint, typecheck, no-console, todo-check

fix: throw error when DATABASE_URL is not defined
  prisma/seed.ts
  src/lib/prisma.ts
Due: format-check, biome-lint, typecheck, no-console, todo-check

feat: add Recipe table for predefined recipes
  prisma/migrations/20260203135535_add_recipes_table/migration.sql
  prisma/schema.prisma
Due: none

feat: seed database with 70 recipes and users
  prisma/seed.ts
Due: format-check, biome-lint, typecheck, no-console, todo-check

feat: add CertifRecipe route to App component
  src/App.tsx
Due: format-check, biome-lint, typecheck, no-console, todo-check

feat: enhance Header component styling with improved layout and responsive design
  src/components/Header.css
Due: none

feat: refactor Header component for improved structure and styling consistency
  src/components/Header.tsx
Due: format-check, biome-lint, typecheck, no-console, todo-check

feat: add CertifRecipe component to display certified recipes
  src/pages/CertifRecipe/page.tsx
Due: format-check, biome-lint, typecheck, no-console, todo-check

Path conditions:
  format-check: any of: *.{js,jsx,ts,tsx,json,jsonc}
  biome-lint: any of: *.{js,jsx,ts,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
  no-console: any of: *.{js,jsx,ts,tsx}
  todo-check: any of: *.{js,jsx,ts,tsx}
